<template lang="pug">
  div
    NewGame
    ScoreBoard
    Board
    Controls
</template>

<script>
import ScoreBoard from '../components/ScoreBoard'
import Board from '../components/Board'
import Controls from '../components/Controls'
import NewGame from '../components/NewGame'
export default {
  name: 'Home',
  components: { NewGame, ScoreBoard, Board, Controls }
}
</script>
