<template lang="pug">
   v-row(v-resize="markerResize")
    v-col(cols="12" lg="6" offset-lg="3")
      v-row.mt-2.mx-1.pt-2.px-2.board--border(dense)
        v-col.pt-0(v-for="(space, i) in board.length" :key="space" cols="4")
          div.my-1.grey.darken-4.rounded.board--space.d-flex.align-center.justify-center(:style="{ 'min-height': markerContainerSize + 'px' }"  @click="setMarker(i)")
            div.text-center.marker(:class="[board[i] === 'X' ? 'x' : 'o']" :style="{ 'font-size': markerSize + 'px' }") {{ board[i] }}
    WinDialog(:showDialog="showDialog" :markerSize="markerSize" @newGame="resetBoard")
</template>

<script>
import Vue from 'vue'
import { ref, computed, onMounted } from '@vue/composition-api'
import { getters, actions } from '../store/index'
import WinDialog from '../components/WinDialog'
export default {
  name: 'Board',
  components: { WinDialog },
  setup () {
    const markerContainerSize = ref(100)
    const markerSize = ref(80)
    const markerResize = () => {
      markerContainerSize.value = document.getElementsByClassName('board--space')[0].clientWidth
      markerSize.value = document.getElementsByClassName('board--space')[0].clientWidth * 0.75
    }
    onMounted(() => {
      markerResize()
      // actions.showNewGameDialog()
    })

    const currentPlayer = computed(() => { return getters.currentPlayer() })
    const board = ref(['', '', '', '', '', '', '', '', ''])

    const setMarker = (space) => {
      if (board.value[space] === '') {
        Vue.set(board.value, space, currentPlayer.value)
        checkForWin() ? gameOver() : actions.changePlayer()
      }
    }

    const checkForWin = () => {
      let result = false
      const winningPatterns = [[0, 1, 2], [3, 4, 5], [6, 7, 8], [0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [2, 4, 6]]
      winningPatterns.forEach((group) => {
        if (board.value[group[0]] === currentPlayer.value && board.value[group[1]] === currentPlayer.value && board.value[group[2]] === currentPlayer.value) { result = true }
      })
      return result
    }

    const showDialog = ref(false)

    const gameOver = () => {
      actions.updateScore()
      showDialog.value = true
    }

    const resetBoard = () => {
      showDialog.value = false
      board.value = ['', '', '', '', '', '', '', '', '']
      actions.showNewGameDialog()
    }

    return { markerContainerSize, markerSize, markerResize, board, resetBoard, setMarker, currentPlayer, showDialog }
  }
}
</script>

<style scoped>
  .board--border {
    border: 2px solid #424242;
    border-radius: 10px;
  }
  .board--space {
    line-height: .85;
  }
  .board--space:hover {
    cursor: pointer;
  }
  .marker {
    margin-top: -8px !important;
  }
</style>
