<template lang="pug">
  v-footer.text-center(color="primary" height="48" app)
    v-row(justify="center")
      v-btn(text color="white" medium) New Game
      v-btn(text color="white" medium) Reset Scoreboard
</template>

<script>
export default {
  name: 'Controls'
}
</script>
