<template lang="pug">
  v-dialog(v-model="dialog" persistant :max-width="modalWidth")
      v-card.text-center
        v-card-title.justify-center.primary.white--text Choose Your Options
        v-card-text
          p.mt-3.subtitle-1.font-weight-bold Players
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': players !== 1 }" @click="players = 1") 1 Player
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': players !== 2 }" @click="players = 2") 2 Player
          p.mt-4.subtitle-1.font-weight-bold Player 1 Marker
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': playerOneMarker !== 'X' }" @click="playerOneMarker = 'X'") X
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': playerOneMarker !== 'O' }" @click="playerOneMarker = 'O'") O
          p.mt-4.subtitle-1.font-weight-bold Difficulty
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': difficulty !== 1 }" @click="difficulty = 1") Easy
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': difficulty !== 2 }" @click="difficulty = 2") Medium
          v-chip.mx-2(color="primary" :class="{ 'v-chip--outlined': difficulty !== 3 }" @click="difficulty = 3") Hard
        v-card-actions.justify-center
          v-btn(color="primary" :disabled="players === 0 || playerOneMarker === '' || difficulty === 0" @click="start") Start
</template>

<script>
import { ref, computed, watch, onMounted } from '@vue/composition-api'
import { getters, actions } from '../store/index'
export default {
  name: 'NewGame',
  setup () {
    const dialog = ref(false)
    const dialogState = computed(() => { return getters.showNewGameDialog() })
    watch(() => { dialog.value = dialogState.value })
    const modalWidth = ref(300)
    const players = ref(0)
    const playerOneMarker = ref('')
    const difficulty = ref(0)

    const start = () => {
      actions.showNewGameDialog('hide')
      actions.newGame(players.value, playerOneMarker.value, difficulty.value)
    }

    onMounted(() => {
      // markerResize()
      actions.showNewGameDialog()
    })

    return { dialog, modalWidth, players, playerOneMarker, difficulty, start }
  }
}
</script>

<style scoped>
  .v-chip {
    border-width: thin;
    border-style: solid;
  }
</style>
