<template lang="pug">
  v-row
    v-col(cols="12" lg="6" offset-lg="3")
      v-card.primary--transparent
        v-list-item.primary
          v-list-item-title.white--text.font-weight-bold SCORE
        v-row
          v-col.py-0(cols="8")
            Score
          v-col.py-0(cols="4")
            Turn
</template>

<script>
import Score from '../components/Score'
import Turn from '../components/Turn'
export default {
  name: 'ScoreBoard',
  components: { Score, Turn }
}
</script>
