<template lang="pug">
  div.white--text.pl-3(v-resize="markerResize")
    v-row.mt-2(align="center" justify="center")
      v-col.py-1(cols="3")
        div.pb-1.grey.darken-4.score--space(:style="{ 'width': markerContainerSize + 'px' }")
          div.text-center.marker.small.x X
      v-col.py-1(cols="3")
        div.text-center {{ score.X }}
      v-col.py-1(cols="3")
        div.pb-1.grey.darken-4.score--space(:style="{ 'width': markerContainerSize + 'px' }")
          div.text-center.marker.small.o O
      v-col.py-1(cols="3")
        div.text-center {{ score.O }}
    v-row
      v-col.py-1(cols="3")
        div.text-center Draw
      v-col.py-1(cols="3")
        div.text-center {{ score.draw }}
</template>

<script>
import { ref, computed, onMounted } from '@vue/composition-api'
import { getters } from '../store/index'
export default {
  name: 'Score',
  setup () {
    const markerContainerSize = ref(100)
    const markerResize = () => {
      markerContainerSize.value = document.getElementsByClassName('score--space')[0].clientHeight
    }
    onMounted(() => {
      markerResize()
    })

    const score = computed(() => { return getters.score() })

    return { score, markerResize, markerContainerSize }
  }
}
</script>

<style scoped>
  .small {
    font-size: 2.0rem !important;
  }
  .tweak-padding-l {
    padding-left: 2px;
  }
</style>
