<template lang="pug">
  div.grey.darken-4.mr-2.my-2.rounded
    v-row
      v-col.text-center.pa-0.mt-1(cols="12")
        div.grey--text.darken-1.font-weight-bold CURRENT
    v-row
      v-col.text-center.pa-0(cols="12")
        div.mb-3.marker.medium(:class="[currentTurn === 'X' ? 'x' : 'o']") {{ currentTurn }}
</template>

<script>
import { getters } from '../store/index'
import { computed } from '@vue/composition-api'
export default {
  name: 'Turn',
  setup () {
    const currentTurn = computed(() => { return getters.currentPlayer() })
    return { currentTurn }
  }
}
</script>

<style scoped>
  .medium {
    font-size: 4.0rem !important;
    line-height: .8 !important;
  }
</style>
