<template lang="pug">
  v-dialog(v-model="dialog" persistant :max-width="modalWidth")
    v-card.text-center
      v-card-title.justify-center.primary.white--text WINNER!
      v-card-text.pb-2.pt-5
        div.grey.darken-4.rounded.board--space.d-flex.align-center.justify-center
            div.text-center.marker(:class="[currentPlayer === 'X' ? 'x' : 'o']" :style="{ 'font-size': markerFontSize + 'px', 'min-height': markerFontSize * 0.95 + 'px' }") {{ currentPlayer }}
      v-spacer
      v-btn.mb-2(color="primary" text @click="newGame") New Game
</template>

<script>
import { ref, computed, watch, onMounted } from '@vue/composition-api'
import { getters } from '../store/index'
export default {
  name: 'WinDialog',
  props: { showDialog: Boolean, markerSize: Number },
  setup (props, context) {
    const dialog = ref(false)
    watch(() => { dialog.value = props.showDialog })
    const markerFontSize = ref(props.markerSize)
    const modalWidth = ref(300)
    const currentPlayer = computed(() => { return getters.currentPlayer() })

    const resizeModal = () => {
      // modalWidth.value = window.innerWidth * 0.9
    }

    const newGame = () => {
      context.emit('newGame')
    }

    onMounted(() => {
      resizeModal()
    })

    return { dialog, modalWidth, markerFontSize, currentPlayer, newGame }
  }
}
</script>

<style scoped>
  .marker {
    line-height: 0.85;
  }
</style>
