<template lang="pug">
  v-app
    v-content
      v-container.grey--darken-5(fluid)
        router-view
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  .container {
    height: 100%;
  }
  .primary--transparent {
    background-color: rgba(10, 46, 82, 0.2) !important;
  }
  .grey--darken-5 {
    background-color: #0d0d0d;
  }
  .rounded {
    border-radius: 10px;
  }
  .marker {
    font-family: 'Permanent Marker', cursive;
    /* font-size: 5.0rem !important; */
  }
  .x {
    background: linear-gradient(to right top, #1976d2, #72b1ee);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .o {
    background: linear-gradient(to right top, #04e762, #64fca3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
